<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>admin</username>
	  <password>password</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
	  <password>password</password>
      <id>snapshots</id>
    </server>
	<server>
			<id>mytomcat</id>
			<username>admin</username>
			<password>admin</password>
	</server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://colblapp1d:8081/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots>
			<updatePolicy>always</updatePolicy>
		  </snapshots>
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://colblapp1d:8081/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://colblapp1d:8081/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots>
			<updatePolicy>always</updatePolicy>
		  </snapshots>
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://colblapp1d:8081/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
			    <!-- EXAMPLE FOR MYSQL -->
                <sonar.jdbc.url>
                  jdbc:mysql://coldbwps1c:3306/sonar?useUnicode=true&amp;characterEncoding=utf8
                </sonar.jdbc.url>
                <sonar.jdbc.driverClassName>com.mysql.jdbc.Driver</sonar.jdbc.driverClassName>
                <sonar.jdbc.username>sonar</sonar.jdbc.username>
                <sonar.jdbc.password>welcome</sonar.jdbc.password>
                <!-- optional URL to server. Default value is http://localhost:9000 -->
			    <!-- EXAMPLE FOR H2
                <sonar.jdbc.url>
                  jdbc:h2:tcp://sonar.com:9092/sonar
                </sonar.jdbc.url>
                <sonar.jdbc.driverClassName>org.h2.Driver</sonar.jdbc.driverClassName>
                <sonar.jdbc.username>sonar</sonar.jdbc.username>
                <sonar.jdbc.password>sonar</sonar.jdbc.password>  -->
                <!-- optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  http://colblapp1d:9000
                </sonar.host.url>
            </properties>
        </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
	<activeProfile>sonar</activeProfile>
  </activeProfiles>
</settings>