<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Intellicar BuyersGuide API</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>opsPath</param-name>
		<param-value>ops/videoapi_3.0</param-value>
	</context-param>
	<!-- Jersey Servlet -->
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.sorc.content.services.search.resources;org.codehaus.jackson.jaxrs;com.wordnik.swagger.jersey.listing</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- Swagger Servlet -->
	<servlet>
		<servlet-name>JerseyJaxrsConfig</servlet-name>
		<servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.1</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>/videoapi/3.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.filter</param-name>
			<param-value>com.sorc.content.services.swagger.filter.InternalSwaggerParamFilter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<filter>
        <filter-name>queryRewriting</filter-name>
        <filter-class>com.sorc.content.services.request.filter.QueryRewritingFilter
        </filter-class>
    </filter>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>com.sorc.security.ServiceDelegationFilterProxy
		</filter-class>
	</filter>
	
	<filter-mapping>
        <filter-name>queryRewriting</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/apidocs/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sorc.content.services.context.AppServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>